<div class="outer-shell">
  <section class="middle-section">
    <div class="flex-box">
      <div class="img-section">
        <embed class="desktop-svg-bg" src="../../../assets/images/bg-pattern-circles.svg"/>
      </div>
      <div class="info-section">
        <h2>State of the Art Infrastructure</h2>
        <p>With reliability and speed in mind, worldwide data centers privide the backbone for ultra-fast connectivity.
          This ensures your site will load instantly, no matter where your readers are, keeping your site competitive.</p>
      </div>
    </div>
  </section>
  <embed class="desktop-svg-phones desktop"  src="../../../assets/images/illustration-phones-desktop.svg"/>
  <img class="desktop-svg-phones mobile"   src="../../../assets/images/illustration-phones-desktop.svg"/>
</div>
