@import '../../../shared/responsive';
@import '../../../shared/shared';

section.bottom-section {
  position: relative;
  margin-top: 100px;
  padding: 30px 10px;
  margin-bottom: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include for-tablet-landscape-only {
    margin: auto;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0px;
  }
  .text-layout {
    display: flex;
    flex-direction: column;
    width: 35.3%;

    @media (max-width: 900px) {
      text-align: center;
      width: 90% !important;
    }

    @media (min-width: 1200px) and (max-width: 1255px) {
      margin-left: 20px;
      width: 40%;
    }

    @media (max-width: 1200px) {
      margin-left: 0px;
      width: 50%;
    }

    h3 {
      @include text-styles($darkBlue, 1, bold, 30px);
      line-height: 35px;
    }

    p {
      margin-top: 25px;
      @include text-styles($gray, 1.5, normal, 16px);

      @include for-tablet-landscape-only {
        width: 60%;
        margin: auto;
      }

      @include for-phone-only {
        width: 90% !important;
      }

      @include for-small-phone {
        width: 99% !important;
      }
    }

    .text-box {
      &.top {
        margin-top: 30px;
      }
      &.bottom {
        margin-top: 50px;
      }

      @include for-phone-only {
        margin-top: 30px;
      }
    }
  }

  .mobile-svg-container {
    text-align: center;
    margin-top: 30px;

    @include for-tablet-landscape-up {
      display: none;
    }
  }

  .desktop-svg {
    margin-left: -280px;
    @include for-tablet-landscape-only {
      display: none;
    }

    @media (max-width: 1150px) {
      margin-left: -500px;
    }

    @media (max-width: 1020px) {
      margin-left: -400px;
    }

    @media (max-width: 950px) {
      margin-left: -350px;
    }
  }
}
