<section>
  <h2>Designed for the future</h2>
  <div class="mobile-svg-container">
    <embed class="mobile-svg" src="../../../assets/images/illustration-editor-mobile.svg"/>
  </div>
  <div class="text-layout">
    <div class="text-box">
      <h3>Introducing an extensible editor</h3>
      <p>Blogr features an exceedingly intuitive interface which lets you focus
        on one thing: creating content. The editor supports managment of
        multiple blogs and allows easy manipulation of embeds such as images,
        videos, and Markdown. Extensibnility with plugins and themes provide
        easy wats to add funtionality or change the looks of a blog.
      </p>
    </div>
    <div class="text-box">
      <h3>Robust content managment</h3>
      <p>Flexible content managment enables users to easily move through
        posts. Increase the usability of your blog by adding customized
        categories, sections, format, or flow. With this functionality, you're in
        full control.
      </p>
    </div>
  </div>
  <embed class="desktop-svg" src="../../../assets/images/illustration-editor-desktop.svg"/>
</section>
